{% extends "base.html" %}

{% block content %}

<div class="col-md-6 offset-md-3">
    
    {% if user.is_authenticated %}
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        {% if records %}

        {% for record in records %}
        <tr>
            <td>{{ record.first_name }}
            {{ record.last_name }}</td>
            <td>{{ record.phone }}</td>
            <td>{{ record.email }}</td>
            <td>{{ record.address }}</td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
    {% else %}
    <h1>Login</h1>
    <br/>
    <form method="POST" action="{% url "home" %}">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Your login" required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Your password" required>
          </div>
          <button type="submit" class="btn btn-secondary">Login</button>
    </form>

    {% endif %}

</div>

{% endblock %}