{% extends "base.html" %}

{% block content %}

<div class="col-md-6 offset-md-3">
    
    {% if user.is_authenticated %}

    <h1>You are logged in!</h1>

    {% else %}
    
    <h1>Login</h1>
    <br/>
    <form method="POST" action="{% url "home" %}">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Your login" required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Your password" required>
          </div>
          <button type="submit" class="btn btn-secondary">Login</button>
    </form>

    {% endif %}

</div>

{% endblock %}